.app-icon
{
    width: 42px;
    height: 42px;
    margin: 4px;
}

#modelid
{
    text-transform:uppercase;
}

.model-icon
{
    width: 32px;
    height: 32px;
    position: relative;
    left: -5px;
    top: -5px;
}